html {
	margin: 0;
}

body {
	display: grid;
	width: 100vw;
	height: 100vh;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr; 
}


img{
	justify-self: center;
	align-self: center;
	z-index: 0;

}

#watchGrid{
	display: grid;
	grid-template-columns: repeat(8, 1fr);
	grid-template-rows: minmax(20px, auto);
	justify-self: center;
	align-self: center;
	color: white;
	z-index: 2;
	position: absolute;
	top: 51%;
	left: 49%;
	transform: translate(-40%, -45%);
	background-color: black;
	height: 25vh;
	border-radius: 10px;
	overflow-y: scroll;
	margin-left: auto;
	margin-right: auto;
    width:180px;
    grid-gap: 1em;

}

#time{
	justify-self: center;
	/*align-self: center;*/
	color: white;
	grid-column: 9/9;
	grid-row: 1/9;
	}

	#navigation{
		/*justify-self: center;*/
	/*align-self: center;*/
	color: white;
	grid-column: 1/9;
	grid-row: 1/9;
	}

	#game1{
		grid-column: 1/9;
	grid-row: 2 / span 2;
	background-color: #393C42;
	padding: 1vh 0.4vw;
	border-radius: 20px;
	width: 120%;
}
	#Today, #Fri, #Sat{
/*margin-top: 10px;*/
/*background-color: #393C42;*/
padding-top: 10px;
/*padding-left: 10px;*/
	}

	#game2{
grid-column: 1/9;
	grid-row: 4/6;
	}
	

#game3{
grid-column: 1/9;
	grid-row: 6/9;
	}

.friday {
	display: flex;
	justify-content: space-around;
	margin-bottom: 1vh;
}

.right {
	display: flex;
	flex-direction: column;
	text-align: center;
	/*margin-top: 20px;*/
}

small {
	margin-top: .75vh;
}

.icon {
	max-width: 15px;
	height: auto;
}

::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* make scrollbar transparent */
}

.left:nth-of-type(1){
margin-top: 1vh;
/*background-color: blue;*/
}

.left div:nth-of-type(1){
color: orange;
}

.left div:nth-of-type(2){
color: yellow;
}