html {
	margin: 0;
}

body {
	display: grid;
	width: 100vw;
	height: 100vh;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr; 
}


img{
	justify-self: center;
	align-self: center;
	z-index: 0;

}

#time{
	justify-self: center;
	align-self: center;
	color: white;
	z-index: 1;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}